@{
    ViewData["Title"] = "Home";
}
@using GPMS.TemplateStore.Logic.Templates
@model IReadOnlyList<GPMS.TemplateStore.Logic.Templates.TemplateDto>

<div class="container">
        <div class="row product">
            @foreach (var template in Model)
            {
                <div class="col-md-3">
                    <div class="product-main product-box">
                        <a href="@Url.Action("Details", "Templates", new {Id = template.Id})" class="mask">
                            <img class="img-responsive zoom-img" src="@template.ThumbnailImageUrl" alt=""/>
                        </a>
                        <div class="product-bottom">
                            <h3><a href="@Url.Action("Details", "Templates", new { Id = template.Id })">@template.Name</a></h3>
                            <h5><a class="item_add" href="#"><i></i></a> <span class=" item_price">FREE</span></h5>
                        </div>
                        
                    </div>
                </div>
            }
            <div class="clearfix"></div>
    </div>
</div>
